.navbar-fixed-top{
  color: black;
  background-color:#3BFF6C;
  border: solid black;
}



body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.statebox {
  width: 40px;
}
