<div>
  <h3>Add New Event(Cause I Don't Have Enough Volunteers)</h3>
  <form id='new-event' ng-submit="eventNewVm.addEvent()">
    <div>
      <label for="title">Title:</label>
      <input type="text" name="title" ng-model="eventNewVm.newEvent.title">
    </div>
    <div>
      <label for="length">Length:</label>
      <input type="number" name="length" ng-model="eventNewVm.newEvent.length">
    </div>
    <div>
      <label for="source">Source:</label>
      <input type="text" name="source" ng-model="eventNewVm.newEvent.source">
    </div>
    <input type="submit" value="Add">
  </form>
</div>
