<div>
  <h3>Edit Event(Cause I Don't Like The One Listed)</h3>
  <form id='edit-event' ng-submit="eventEditVm.editEvent()">
    <div>
      <label for="title">Title:</label>
      <input type="text" name="title" ng-model="eventEditVm.event.title">
    </div>
    <div>
      <label for="length">Length:</label>
      <input type="number" name="length" ng-model="eventEditVm.event.length">
    </div>
    <div>
      <label for="source">Source:</label>
      <input type="text" name="source" ng-model="eventEditVm.event.source">
    </div>
    <input type="submit" value="Edit">
  </form>
</div>
